h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
/*https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/*/
.column {
    display: inline-block;

  
    width: 10%;
    padding: 15px;
    text-align: center;
    object-position: center;
    margin: 0 auto
  
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

iframe {
    height: 400px;
    width: 400x;
  }

.icons {
    display: block;
    object-position: center;
    text-align: center;
  
} 
.row {
    display: block;
    object-position: center;
    text-align: center;
 
} 
#designerprofile1:hover {
    content: url('graphics/SVG/designerprofile2.svg');
        height: 151px;
        width: 169px;
}

#funtimes1:hover {
    content: url('graphics/SVG/funtimes2.svg');
        height: 177px;
        width: 104px;
        scale: 147%;
}

#weeklyprogress1:hover {
    content: url('graphics/SVG/weeklyprogress2.svg');
        height: 167px;
        width: 178px;
}

.karenandshanel {
    display: inline-block;
    text-align: center;
    object-position: center;
    margin: 0 auto
}

.weeklyprogress {
    display: inline-block;
    object-position: center;
    text-align: center;
    scale: 50%;
}

a:link {
    color: #b7543d;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #b7543d;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #daaa76;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #daaa76;
    background-color: transparent;
    text-decoration: underline;
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:900");
#cursorBlob {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    120deg,
    #FF1744,
    #E040FB,
    #2979FF,
    #00E5FF,
    #76FF03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}
@keyframes blobRadius {
  0%, 100% { border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%; }
	20% { border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%; }
	40% { border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%; }
	60% { border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%; }
	80% { border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%; }
}
@keyframes blobBackground {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #212121;
}
.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  &__link {
    color: #fff;
    list-style: none;
    cursor: pointer;
    font-size: 10vw;
    font-family: "Montserrat", sans-serif;
    transition: 0.25s ease;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &:hover {
      transform: translateX(25px);
    }
  }
}
