#designerprofile1 {
    padding-left: 50px;
}

#dumpling {
    float: center;
}

#bubbletea {
    float: center;
}

#foreo {
    float: right;
    padding-right:50px;
}

#logo {
    text-align: center;
}